* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --webpage-color1: #e9dbcb;
    --item-color1: #f89f7e;
    --item-color1-border: #f58c67;
    --item-color2: #e97ee9;
    --header-height: 70px;
    --header-padding: 22px;
    --footer-color: #e0bdaf;
}

body {
    background-color: var(--webpage-color1);
    width: 98vw;
    height: 100vh;
    font-family: sans-serif;
    margin: auto;

}

#header {
    position: fixed;
    height: var(--header-height);
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 var(--header-padding);
    background-color: var(--webpage-color1);
}

#header-img {
    height: calc(var(--header-height) - 10px);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 34px;
    text-align: center; 
}

main {
    margin: 0 auto;
    margin-top: calc(var(--header-height) + 10px);
    width: 80%;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 8px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    place-items: center;
    gap: 8px;
}

#email {
    padding: 2px;
    width: 40ch;
    place-items: center;
}

#submit {

}

.clickButton {
    padding: 2px 12px;
    align-items: center;
    justify-content: center;
    background: var(--item-color1);
    border: 1px solid var(--item-color1-border);
    font-weight: bold;
    font-size: large;
    border-radius: 2px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 60px; /* Adjust font size as needed */
}

#features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.article-text {
    display: flex;
    flex-direction: column;
}

#howItWorks {
    margin: 40px 20px;
}

#video {
    width: 45vw;
    max-width: 640px;
    aspect-ratio: 16 / 9;
}

footer {
    height: var(--header-height);
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
    justify-content: end;
    width: 88%;
    margin: auto;
    margin-top: 18px;
    overflow: hidden;
    padding: 10px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
    font-weight: bold;
}

#pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.item {
    display: flex;
    flex-direction: column;
    border: 2px solid #db7575;
    margin: 10px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: 24ch;
    width: 24ch;
}

.itemName {
    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--item-color2);
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
}

.itemFeatures {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemFeatures > li {
    line-height: 1.4rem;
    font-size: 0.9rem;
}

.item > .clickButton {
    margin-bottom: 6px;
}

@media only screen and (max-width: 420px){
    :root {
        --header-height: 60px;
    }

    body {
        width: 98vw;
        height: 98vh;
        font-size: 90%;
    }
    
    #header {
        height: var(--header-height);
    }
    
    #header-img {
        height: calc(var(--header-height) - var(--header-height)*50/100);
    }

    #video {
        width: 80vw;
    }
    
    #nav-bar {
        gap: 4px;
    }
    
    main {
        margin: 0 auto;
        margin-top: calc(var(--header-height) + 10px);
        gap: 8px;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    .material-symbols-outlined {
        font-size: 40px; /* Adjust font size as needed */
    }
    
    #howItWorks {
        margin: 20px 10px;
    }
}